@model TesteViewModel
<div class="row">
    <div class="col-6 offset-3">
        <form asp-action="Index" asp-controller="Home" method="get">
            @if (Model.Datas?.Count > 0)
            {
                <input type="hidden" name="dataInicial" value="@ViewBag.DataInicial" />
                <input type="hidden" name="dataFinal" value="@ViewBag.DataFinal" />
                @foreach (var item in Model.Datas)
                {
                    <input type="hidden" name="data[]" value="@item" />
                }
            }
            <div class="row form-group">
                <label for="date" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <div class="input-group date">
                        <input type="text" class="form-control datepicker" name="dataSelecionada" value="@(Model.Data)">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        let inputDataSelecionada = $('input[name="dataSelecionada"]');
        let dataSelecionada = $('input[name="dataSelecionada"]').val();
        let dataInicial = $('input[name="dataInicial"]').val();
        let dataFinal = $('input[name="dataFinal"]').val();
        let datasDisponiveis = []
        $('input[name="data[]"]').each((i, e) => { datasDisponiveis.push($(e).val().split(' ')[0]) });
        console.log('dataSelecionada', dataSelecionada);
        console.log('datasDisponiveis', datasDisponiveis.length);

        function estilizarDatas(data) {

            let dataEstilizada = data.toLocaleString().split(",")[0]
            if (datasDisponiveis.includes(dataEstilizada)) {

                if (dataEstilizada === dataSelecionada) {
                    @* let classNames = ''
                    if (dataEstilizada === new Date().toLocaleDateString()) {
                        return false;
                    } *@
                    return {
                        enabled: true,
                        classes: 'celulaSelecionada', // classe CSS que estiliza a célula da data [wwwwroot\css\site.css]
                        tooltip: ''
                    }
                }
                return {
                    enabled: true,
                    classes: 'celula', // classe CSS que estiliza a célula da data [wwwwroot\css\site.css]
                    tooltip: ''
                }
            }
            return false;
        }

        var datepicker = $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            beforeShowDay: estilizarDatas,
            startDate: dataInicial,
            endDate: dataFinal,
            templates: {
                leftArrow: '<i class="fa fa-long-arrow-left"></i>',
                rightArrow: '<i class="fa fa-long-arrow-right"></i>'
            },
            maxViewMode: 'days',
        }).on('changeDate', function (event) {
            let novaDataSelecionada = event.format('dd/mm/yyyy'); // retorna event.date formatado
            console.log(novaDataSelecionada);
            inputDataSelecionada.val(novaDataSelecionada);
            $('form').submit();
        }).on('changeMonth', function (event) {
            let novaDataSelecionadaMes = new Date(event.date.getUTCFullYear(), event.date.getUTCMonth(), event.date.getUTCDate()).toLocaleDateString();
            console.log('mes', novaDataSelecionadaMes);
            inputDataSelecionada.val(novaDataSelecionadaMes);
            $('form').submit();
        }).on('show', function (event) {
            $('td.active').removeClass('active');
        });
    });
</script>