html {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

header.header {
  display: flex;
  justify-content: center;
}

body.body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

footer.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.celula {
  color: black;
  font-weight: bold;
}

.celulaHoje {
  text-decoration: underline;
}

.celulaSelecionada {
  border-radius: 8px;
  background-color:  #006dcc ;
  color: white;
  font-weight: bold;
}

.datepicker table tbody tr td.old,
.datepicker table tbody tr td.old:hover,
.datepicker table tbody tr td.new,
.datepicker table tbody tr td.new:hover {
  color: #FFF;
  background-color: #FFF;
  cursor: auto;
}